*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-color: #CFCFCF;
    height: 100vh;
    color: #FFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;

}

.button{
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    background-color: #828282;
    color: #FFFF;
    border: none;
}

.button:hover{
    background-color: #4F4F4F;
}

#resultado{
    background-color: #FFFF;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: #4F4F4F;
    text-align: right;
    padding: 8px;
}